


    {% extends "blog/base.html" %}

    {% block title %}Home{% endblock %}
    
    {% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <div class="col-md-8 m-auto">
    
      <div class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;" >
        <center><h2 class="mb-3"style="font-weight:bold;font-family: 'Roboto', sans-serif;">Programming Language - C++</h2></center>
      </div>
      
         
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Arrays/" style="color:white;">Day 1</a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 36 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Arrays.</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Arrays/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Matrix/" style="color:white;">Matrix
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 10 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Matrix.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Matrix/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Strings/" style="color:white;">Strings</a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 43 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Strings.</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Strings/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
       
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Searching_Sorting/" style="color:white;">Searching & Sorting</a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 36 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Searching & Sorting.</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Searching_Sorting/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
      
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/LinkedList/" style="color:white;">LinkedList
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 36 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from LinkedList          .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/LinkedList/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/LinkedList/" style="color:white;">Binary Trees
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 35 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Binary Trees          .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/BinaryTrees/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/BinarySearchTrees/" style="color:white;">Binary Search Trees
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 22 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Binary Search Trees.          .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/BinarySearchTrees/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
    
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Greedy/" style="color:white;">Greedy
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 35 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Greedy.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Greedy/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/BackTracking/" style="color:white;">BackTracking</a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 22 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from BackTracking.</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/BackTracking/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/stacks_and_queues/" style="color:white;">Stacks and Queues
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 38 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Stacks and Queues.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/stacks_and_queues/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Heap/" style="color:white;">Heap
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 18 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Heap.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Heap/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Graph/" style="color:white;">Graph
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 44 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Graph.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Graph/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/Trie/" style="color:white;">Trie
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 6 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Trie.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/Trie/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
    
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/DP/" style="color:white;">Dynamic Programming
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 60 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Dynamic Programming.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/DP/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
    
          
          <article class="content-section" style="overflow: auto;border-top: 4px solid #0088cc;border-bottom: 4px solid crimson;">
            <div class="media">
              <img class="rounded-circle article-img" src="https://i.ibb.co/FbCLygM/cpplogo.png" alt="image">
                <div class="media-body">
                    <h4 ><button type="button" class="btn btn-success" style="border-radius:0.5rem"><a class="article-title" href="/category/BitManipulation/" style="color:white;">Bit Manipulation
                    </a></button></h4>
                    <small class="text" style="font-weight:bold;font-family: 'Roboto', sans-serif;color:crimson">Total Questions - 10 </small>
                </div>
            </div>
            <hr>
            <p class="article-content" style="font-weight:bold;font-family: 'Roboto', sans-serif;">This Section contains all the Hand picked and most repeated Questions asked by Top Product and Service Based Companies from Bit Manipulation.         .</p>
            <center> <button type="button" class="btn btn-primary" style="border-radius:0.5rem"><a class="article-title" href="/category/BitManipulation/" style="color:white;">Lets Solve</a></button>
            </center>
      
            <hr>
            
            
          </article>
    
                
    
      </div>
    {% endblock %}
    {% block script %}
    <script>
    
      var colors = ['#FB9797', '#FB84BD', '#EA84FB', '#FF6D3F', '#4270E7', 'green', 'blue'];
        $('.add-border').each(function() {
            $(this).css('border-top', "3px solid " + colors[Math.floor(Math.random() * colors.length)]);
        });
    
    </script>
    {% endblock %}
    
    
    
    
    <div class="main">
      <h1 class="second" style="font-size: 23px;text-align: left;color:black"><span>YEARWISE PLACEMENT EXPERIENCES</span></h1>
          <br/>
        <ul class="cards">
          <li class="cards_item">
            <div class="card" style="width:20rem">
             
              <div class="card_content">
                <h2 class="card_title"> <h4><a class="dropdown-item" href="/category/2019/">2019</a></h4></h2>
                <hr>
                {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
                <button class="btn card_btn " href="/category/2019/"> <a class="dropdown-item" href="/category/2019/">OPEN</a></button>
              </div>
            </div>
          </li>
          <li class="cards_item">
          <div class="card" style="width:20rem">
              
              <div class="card_content">
                <h2 class="card_title"> <h4><a class="dropdown-item" href="/category/2020/">2020</a></h4></h2><hr>
              {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
               <button class="btn card_btn" href="/category/2020/"> <a class="dropdown-item" href="/category/2020/">OPEN</a></button>
              </div>
            </div>
          </li>
          <li class="cards_item">
            <div class="card" style="width:20rem">
             
              <div class="card_content">
                <h2 class="card_title"> <h4><a class="dropdown-item" href="/category/Hepa/">2021</a></h4></h2><hr>
                {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
                <button class="btn card_btn" href="/category/2021/"> <a class="dropdown-item" href="/category/2021/">OPEN</a></button>
              </div>
            </div>
          </li>
          <li class="cards_item">
             <div class="card" style="width:20rem">
              
              <div class="card_content">
                <h2 class="card_title"> <h4><a class="dropdown-item" href="/category/LinkedList/">LinkedList</a></h4></h2><hr>
               {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
                       <button class="btn card_btn" href="/category/2022/"> <a class="dropdown-item" href="/category/2022/">OPEN</a></button>
      
              </div>
            </div>
          </li>
          <li class="cards_item">
             <div class="card" style="width:20rem">
              
              <div class="card_content">
                <h2 class="card_title"><h4><a class="dropdown-item" href="/category/DP/">DP</a></h4></h2><hr>
                {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
                               <button class="btn card_btn" href="/category/2023/"> <a class="dropdown-item" href="/category/2023/">OPEN</a></button>
      
              </div>
            </div>
          </li>
          <li class="cards_item">
             <div class="card" style="width:20rem">
              
              <div class="card_content">
                <h2 class="card_title"> <h4><a class="dropdown-item" href="/category/Stacks/">Stacks</a></h4></h2><hr>
               {% comment %} <p class="card_text">Click to know more about Various Students Placement Experiences</p> {% endcomment %}
               <button class="btn card_btn" href="/category/2024/"> <a class="dropdown-item" href="/categorycpp/2024/">OPEN</a></button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    