{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="m-auto col-md-8" >
<div class="content-section" style='margin-bottom:4rem;box-shadow:  32px 32px 46px #6c6c6c,
-32px -32px 46px #ffffff;'>
    <form action="" method="POST">
         {% csrf_token %}
        <fieldset class="form-group"><button type="button" class="btn btn-primary" style=" width: 100%;
            padding: 0.8em;
            border: solid 1px #0088cc;
            border-radius: 4px;
            display: inline;
            margin: 2px;pointer-events:none;font-weight: bold;margin-bottom:1rem;background-color:#0088cc;font-family: 'IBM Plex Sans Hebrew', sans-serif;" >FORGOT PASSWORD</button>
            

<div id="div_id_email" class="form-group"> <label for="id_email" class=" requiredField">
    <legend class="border-bottom mb-4" style='color:#0088cc;font-weight:bolder;font-size:17px'><span style='color:crimson'>*</span> No Worries enter your Email Id and we shall send you a link to reset your password.</legend>
            <img src="https://i.ibb.co/9gTf9y1/fp1.png"/><br>
                <span style='color:crimson;font-weight:bolder'> Enter Your Email : </span><span class="asteriskField">*</span> </label> <div> <input type="email" name="email" autocomplete="email" maxlength="254" class="emailinput form-control" required id="id_email" placeholder='placementforumenquiry@gmail.com'> </div> </div>

        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit" style='border-radius:1rem;'>Request Password Reset</button>
        </div>
    </form>
</div>
</div>
{% endblock %}