{% extends "blog/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="m-auto col-md-8 mt-8" >
    <div class="content-section" style='margin-bottom:5.5rem;box-shadow:  32px 32px 46px #6c6c6c,
    -32px -32px 46px #ffffff;'>
    <center><img src="https://i.ibb.co/844zbvW/fp2.png" alt="fp2" border="0"></center>
        <div class="alert alert-info" style='margin-top:1rem;font-weight:bolder'>
            Your password was reset. Now you can join us.
        </div>
        <a href="{% url 'account_login' %}" style='color:#0088cc;font-weight:bolder'>Sign In Here</a>
    </div>
    </div>
{% comment %} <div class="m-auto col-md-8">
    <div class="alert alert-info">
        Your password has been set.
    </div>
    
</div> {% endcomment %}
{% endblock %}