{% extends "blog/base.html" %}

{% block title %}Password Reset{% endblock %}


{% block content %}

<div class="m-auto col-md-8 mt-8" >
<div class="content-section" style='margin-bottom:5.5rem;box-shadow:  32px 32px 46px #6c6c6c,
-32px -32px 46px #ffffff;'>
<center><img src="https://i.ibb.co/844zbvW/fp2.png" alt="fp2" border="0"></center>
    <div class="alert alert-info" style='margin-top:1rem;font-weight:bolder'>
        An Email has been sent with instruction to reset your password. Check your mail and join us back.
    </div>

</div>
</div>
{% endblock %}